.landing {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 60%;
  overflow: hidden;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__subtitle {
    font-size: 30px;
  }
  &__title {
    font-size: 50px;
  }
  &__sign-in-btn {
    margin-right: 20px;
  }
  &__sign-up-btn {
    margin-left: 20px;
  }
  &__btns {
    display: flex;
  }
}

.primary-button {
  background-color: #5bc0de;
  padding: 15px 30px;
  color: #fff;
  outline: none;
  border: none;
  font-size: 20px;
  width: max-content;
  &:hover {
    background-color: #428bca;
  }
}
.hero {
  position: relative;
  height: calc(100vh - 80px);
  background: url('http://www.fonstola.ru/pic/201304/1600x1200/fonstola.ru-92109.jpg') no-repeat
    center center/cover;
}

.mu-block {
  margin-top: 0;
  padding-top: 80px;
}
